.container-main {
    padding-left: 350px;
    padding-top: 30px;
    background: #003973;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E5E5BE, #003973);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E5E5BE, #003973); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.scroll {
    max-height: 600px;
    overflow-y: auto;
}
/*Media Queries for Medium and Lower*/
  @media only screen and (min-width : 992px) {
    .invisible-top {
      top: 64px;
    }
  }

/*Media Queries for Small*/
@media only screen and (max-width : 992px) {
    .container-main {
        padding-left: 20px;
    }
  }